<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080382637840-4i4uh75i785eiagvm5tmulevq0p0np9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080382637840-4i4uh75i785eiagvm5tmulevq0p0np9o</string>
	<key>API_KEY</key>
	<string>AIzaSyDDU3CWIUbOX4J20l45qw9vSILSj0qOlAM</string>
	<key>GCM_SENDER_ID</key>
	<string>1080382637840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ihikepakistan</string>
	<key>PROJECT_ID</key>
	<string>ihike-pak</string>
	<key>STORAGE_BUCKET</key>
	<string>ihike-pak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080382637840:ios:9a71354f0c33e7f5f9c795</string>
	<key>DATABASE_URL</key>
	<string>https://ihike-pak.firebaseio.com</string>
</dict>
</plist>